@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FFFDEF;
}

.text-custom-black {
    color: #2A2B2E;
}
.font-family-Convergence {
  font-family: 'Convergence', sans-serif;
}

.font-family-Montserrat {
  font-family: 'Montserrat', sans-serif;
}
.font-family-Roboto {
  font-family: 'Roboto', sans-serif;
}

#check-box-1:checked~ .check-1{
    @apply text-opacity-100;
    animation: check-anime 0.5s 1;
}
#check:checked{
    accent-color: red
}
#radio:checked{
    accent-color: red
}
@keyframes check-anime {
    0%, 100%{
        @apply transform scale-100;
    }
    50%{
        @apply transform scale-150 text-opacity-0
    }
}



